<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addBook</title>
</head>

<body>

    <p>Add Book</p>
    <form action="" method="post">
        <label for="accNumber">Account Number</label>
        <input type="number" placeholder="Enter your account number" name="accNumber">
        <label for="booktitle">BookTitle</label>
        <input type="text" placeholder="enter bookTitle" name="booktitle">
        <label for="authorname">authorname</label>
        <input type="text" placeholder="enter author name" name="authorname">
        <label for="publishername">publishername</label>
        <input type="text" placeholder="enter publisher name" name="publishername">
        <label for="pages">pages</label>
        <input type="number" placeholder="enter number of pages" name="pages">
        <label for="price">pages</label>
        <input type="number" placeholder="enter the price of the book" name="price">
        <label for="status">pages</label>
        <input type="text" placeholder="enter the status of the book" name="status">
        <button>Submit</button>
    </form>
</body>

</html>