<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>

<body>
    <form action="/addUser" method="post">
        <label for="username">UserName</label>
        <input type="text" id="username" name="username" placeholder="enter user name">
        <label for="password">Enter user password</label>
        <input type="password" id="password" name="password" placeholder="enter password">
        <label for="userType">userType</label>
        <input type="text" id="userType" name="userType" placeholder="Admin/Normal">
        <button type="submit">submit</button>
    </form>
</body>

</html>