<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
</head>

<body>
    <div><a href="{{ url_for('index')}}">Return home</a></div>
    {% for user in users %}
    <div>
        <p>{{ user.userName }}</p>
        <p>{{user.userType}}</p>
        <a href="{{ url_for('deleteUser', id=user.userID)}}">DeleteUSER</a>
        <a href="{{ url_for('updateUser', id=user.userID)}}">UpdateUSER</a>
    </div>
    {% endfor %}
</body>

</html>