<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
</head>

<body>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div>
            {% for message in messages %}
            <p>{{message[0] }} {{ message[1] }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>
    <p>Add user <a href="{{ url_for('addUser')}}">Add User</a></p>
    <p>Add subject <a href="{{ url_for('addSubject')}}">Add Subject</a></p>
    <p>Add Book <a href="{{ url_for('addBook')}}">Add Book</a></p>
    <div>
        <h4>All Users</h4>
        <a href="{{ url_for('users')}}">View all users</a>
    </div>
    <div>
        <h4>All Subjects</h4>
        <a href="{{ url_for('subjects')}}">View all Subjects</a>
    </div>
    <div>
        <h4>All Books</h4>
        <a href="{{ url_for('books')}}">View all Books</a>
    </div>
</body>

</html>