<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
</head>

<body>
    <form action="" method="post">
        <label for="accNumber">Account Number</label>
        <input type="number" placeholder="Enter your account number" name="accNumber" value="{{book.accNumber}}">
        <label for="booktitle">BookTitle</label>
        <input type="text" placeholder="enter bookTitle" name="booktitle" value="{{book.bookTitle}}">
        <label for="authorname">authorname</label>
        <input type="text" placeholder="enter author name" name="authorname" value="{{book.authorName}}">
        <label for="publishername">publishername</label>
        <input type="text" placeholder="enter publisher name" name="publishername" value="{{book.PublisherName}}">
        <label for="pages">pages</label>
        <input type="number" placeholder="enter number of pages" name="pages" value="{{book.pages}}">
        <label for="price">price</label>
        <input type="number" placeholder="enter the price of the book" name="price" value="{{book.price}}">
        <label for="status">pages</label>
        <input type="text" placeholder="enter the status of the book" name="status" value="{{book.status}}">
        <label for="status">pages</label>
        <input type="text" placeholder="enter the status of the book" name="status" value="{{book.status}}">
        <button>Update</button>
    </form>
</body>

</html>