<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
</head>

<body>
    <form action="" , method="post">
        <label for="username">userName</label>
        <input type="text" placeholder="update userName" name="name" value="{{user.userName}}">
        <label for="usertype">userType</label>
        <input type="text" placeholder="update userType" name="usertype" value="{{user.userType}}">
        <button>Update</button>
    </form>
</body>

</html>